---
import SignUpForm from '../components/SignIn.astro';
---

<html lang="en">
  <head>
    <title>Sign In</title>
  </head>
  <body>
  
    <h1 style="color: aliceblue;" class="heading"  >Let's start  music</h1>
    <main>
      <h1>Sign In</h1>
      <SignUpForm />
    </main>
  </body>
</html>

<style>
body {
  display: flex;
  flex-direction: column;
}

.heading {
  margin: 0px 0px 50px -700px;
}
</style>
