---
import '../components/SignIn.css';

---
<form  id="signInForm" action="/signup" method="POST">
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>
  <button  id="signupButton " type="submit">Sign In</button> 
</form>
<p><a href="/SignUpForm/">Sign Up first</a> </p>

